body {
   font-family: 'Ubuntu', sans-serif;
   background-color: #1e4147;
}

.container {
   display: flex;
   justify-content: center;
   color: #fae3b4;
}

.terminal {
   text-align: center;
}

.contact-information {
   display: flex;
   justify-content: space-between;
}

.social-contact:link,
.social-contact:visited {
   color: #fae3b4;
   font-size: 0.9rem;
}
